{% extends '_layout' %}

{% block main %}

    {# Hero listicle header #}
    {% set listicle = craft.entries.section('listicles').one() %}
    <header class="hero-header" style="background-image: url('{{ siteUrl }}uploads/listicles/{{ listicle.listicleImage.one() }}.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-4 hero-heading">{{ listicle }}</h2>
                </div>
            </div>
        </div>
    </header>


    {# Activites #}
    <section id="activities" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Things to do</h2>
                </div>
            </div>

            <div class="row">

                {# Hero activity #}
                {% set activityHero = craft.entries.section('activities').one() %}

                <div class="col-5">
                    {# todo: handle image fallbacks #}
                    <img src="{{ siteUrl }}uploads/activities/{{ activityHero.activityImage.one() }}.jpg" class="img-fluid">

                    <h5>{{ activityHero }}</h5>
                </div>



                {# Further activities #}
                <div class="col-lg-7">
                    <div class="row">
                        {% for activity in craft.entries.section('activities').limit(4).offset(1) %}
                            <div class="col-6">
                                <div class="activity">
                                    <div class="">
                                        <img src="{{ siteUrl }}uploads/activities/{{ activity.activityImage.one() }}.jpg" class="img-fluid">
                                    </div>

                                    <h5>{{ activity.title }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# Locations #}
    <section id="locations" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Locations</h2>

                </div>
            </div>
        </div>
    </section>


    {# Plan your visit #}
    <section id="plan-your-visit" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Plan your visit</h2>
                </div>
            </div>
        </div>
    </section>


    {# Newsletter #}
    <section id="newsletter" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Newsletter</h2>
                </div>
            </div>
        </div>
    </section>


    {# Social #}
    <section id="instagram" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="text-uppercase text-spaced mb-3">#VisitEngland</h2>
                </div>
            </div>
        </div>

        {# Instagram feed #}
        {% include '_instagram_feed' %}
    </section>

{% endblock %}