{% extends '_layout' %}

{% block main %}

    {# Masthead #}
    <header class="hero-header">

        {# Video #}
        {# - todo: different video formats #}

        <div class="video-bg">
            <video autoplay loop muted >
                <source src="/assets/video/visiteastanglia.mp4" type="video/mp4">
            </video>
        </div>

        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 d-flex">
                    <h2 class="display-4 hero-heading align-self-end mb-5">
                        <span>East Anglia has it all</span>
                    </h2>
                </div>
            </div>
        </div>
    </header>


    {# Introduction #}
    <section id="introduction" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h1 class="display-4">{{ entry.introductionHeading }}</h1>
                </div>

                <div class="col-lg-7">
                    <div class="pt-4 px-lg-5">
                        {{ entry.introductionBody }}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# Search #}
    <section class="content-block bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2 class="mb-4">Find your inspiration</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form action="{{ url('#') }}" class="form-inline">
                        <div class="row w-100 justify-content-center">
                            <div class="col-12 col-md-10 col-lg-7 pb-2">
                                <div class="form-group">
                                    <input type="text" class="form-control w-100" placeholder="Search...">
                                </div>
                            </div>

                            <div class="col-12 col-md-2 col-lg-2">
                                <input type="submit" value="Search" class="btn btn-info btn-block">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>


    {# Activites #}
    <section id="activities" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="mb-4 text-bg">
                        <span>Things to do</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mb-4">

                {# Hero activity #}
                {% set activityHero = craft.entries.section('activities').one() %}

                    {# todo: handle image fallbacks #}
                    {# todo: hide extra activity results on smaller devices #}

                    <div class="col-lg-5 activity activity--hero" style="background-image: url('http:{{ activityHero.activityImage.first().getUrl() }}');">
                        <h4><span>{{ activityHero }}</span></h4>
                    </div>


                {# Further activities #}
                <div class="col-lg-7">
                    <div class="row">

                        {% for activity in craft.entries.section('activities').limit(4).offset(1) %}
                            <div class="col-lg-6 activity" style="background-image: url('http:{{ activity.activityImage.first().getUrl() }}');">
                                <h4><span>{{ activity.title }}</span></h4>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-purple">View all activities</a>
                </div>
            </div>
        </div>
    </section>


    {# Places to stay #}
    <section id="locations" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="mb-4 text-bg">
                        <span>Places to stay</span>
                    </h2>
                </div>
            </div>

            <div class="row">
                {% for location in craft.entries.section('locations').limit(3) %}
                    <div class="col-md-4">
                        <img src="{{ location.locationImage.first().getUrl() }}">
                        <h4>{{ location }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {# What's on #}
    <section id="plan-your-visit" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="mb-4 text-bg">
                        <span>What's on</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>


    {# Social #}
    <section id="instagram" class="content-block">
        <div class="container">
            <div class="row">
                <div class="col text-center mb-3">
                    <h2 class="text-uppercase text-spaced text-bg">
                        <span>#VisitEastAnglia</span>
                    </h2>
                </div>
            </div>
        </div>

        {# Instagram feed #}
        {% include '_instagram_feed' %}
    </section>

{% endblock %}